.donor {
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    padding: 20px;

}

.temp {
    color: white;
    background-color: #282c34;

}
  
.display-text {
    color:black;
}

.bg-white{
    background-color: rgb(214, 214, 214);
}