.App {
    min-height: 125vh;
    background-color: #282c34;
    color: white;
    padding: 20px;
    zoom: 0.8;
    
  }
  
  .hrclass {
    background-color: red;
  }
  
  
  
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  